# Ignore Gradle project-specific cache directory
.gradle

# Java
*.class
*.jar
*.war
*.ear
target/

# Ignore Gradle build output directory
build
/bin/

# Project management and task tracking
doc/tasks/
**/tasks/
